/* ::first-letter, ::first-line, ::after, ::before, ::selection, ::placeholder, content */

.title {
  text-align: center;
  position: relative;
  width: 250px;
  display: inline-block;
  /* padding: 10px; */
}

/* .title::first-letter{
    color: red;
} */

/* .text::first-line{
    color: red;
} */

.title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-right: 5px solid aqua;
  border-top: 5px solid aqua;
  top: 0;
  right: 0;
}
.title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-left: 5px solid aqua;
  border-bottom: 5px solid aqua;
  bottom: 0;
  left: 0;
}

/* .text::selection{
    background-color: aqua;
    color: red;
} */

/* input {
    margin: 20px auto;
    display: block;
    padding: 10px;
}

input::placeholder{
    color: red;
} */
